<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} to {{ endDate | date: 'yyyy-MM-dd HH:mm' }}!
  </h1>
  <div *ngIf="timeLeftDate !== undefined" >Non workdays left: {{timeLeftDate.getDate()}} : {{timeLeftDate.getHours() | number :'2.0-0'}} : {{timeLeftDate.getMinutes() | number :'2.0-0' }} : {{timeLeftDate.getSeconds()| number :'2.0-0'}} </div>
  <div *ngIf="timeLeftDate !== undefined" >Workdays left: {{workingDaysLeft | number :'1.0-0' }} : {{timeLeftDate.getHours() | number :'2.0-0'}} : {{timeLeftDate.getMinutes() | number :'2.0-0' }} : {{timeLeftDate.getSeconds()| number :'2.0-0'}} </div>
  <div>
    <svg width="100%">
      <g *ngFor="let item of workingDaysLeftArray">
          <rect *ngIf="item.IsWorkingDay" [attr.x]="((item.Date.getMonth()*31) + item.Date.getDate() - today.getMonth() * 31 - today.getDate() )*15" width="10" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
          <rect *ngIf="!item.IsWorkingDay" [attr.x]="((item.Date.getMonth()*31) + item.Date.getDate() - today.getMonth() * 31 - today.getDate() )*15" width="10" height="100" style="fill:rgb(255, 0, 0);stroke-width:3;stroke:rgb(0,0,0)" />
          <text [attr.y]="130" *ngIf="item.Date.getDay() === 1" [attr.x]="((item.Date.getMonth()*31) + item.Date.getDate() - today.getMonth() * 31 - today.getDate() )*15" width="10" height="100">M</text>
      </g>
      <rect [attr.x]="(endDate.getMonth() * 31 + endDate.getDate() - today?.getMonth() * 31 - today?.getDate())*15" width="10" height="100" style="fill:green;stroke-width:3;stroke:rgb(0,0,0)" />
  </svg>
  </div>
<router-outlet></router-outlet>
